
<div class="heading">
    <h1>Ballotb</h1>
    <p>Now or never</p>
</div>

<div class="center col-dt-12 col-mb-12 col-tb-12 col-sm-12">
    <div class="
        col-dt-4
        col-tb-4
        col-mb-6
        col-sm-6 
        ">
        <div class="card card-box grow">
            Telangana
        </div>
    </div>
    <div class="
        col-dt-4
        col-tb-4
        col-mb-6
        col-sm-6
        ">
        <div class="card card-box grow">
            Andhra
        </div>
    </div>
    <div class="
        col-dt-4
        col-tb-4
        col-mb-6
        col-sm-6
        ">
        <div class="card card-box grow">
            Others
        </div>
    </div>
    <div class="
        col-dt-4
        col-tb-4
        col-mb-6 
        col-sm-6 
        ">
        <div class="card card-box grow">
            Others
        </div>
    </div>
</div>
