<span class="visible-dt"></span><span class="visible-tb"></span><span class="visible-mb"></span><span class="visible-sm"></span>
<mat-toolbar color="primary">
  <span>Ballotb</span>
  <span class="spacer"></span>
  <span class="visible-mb visible-sm ">
    <button mat-icon-button [matMenuTriggerFor]="mobilemenus">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <span class="visible-dt visible-tb">
    <ng-template *ngTemplateOutlet="menuref"></ng-template>
  </span>
</mat-toolbar>


<router-outlet></router-outlet>

<footer>
  <p>Author: John Deo<br>
  <a href="mailto:abc@abc.com">abc@abc.com</a></p>
</footer>

<mat-menu #mobilemenus>
  <ng-template *ngTemplateOutlet="menuref"></ng-template>
</mat-menu>


<ng-template #menuref>
  <p class="list-mobile-items">

    <button mat-button [matMenuTriggerFor]="aboveMenu">Menu1</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">Menu2</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Menu2</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="afterMenu">Menu3</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-raised-button>Login</button> &nbsp;&nbsp;
    <button mat-raised-button color="warn">SignUp</button>
  </p>
</ng-template>
