/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/styles/small.styles.scss";
@import "./app/styles/mobile.styles.scss";
@import "./app/styles/tablet.styles.scss";
@import "./app/styles/desktop.styles.scss";

[class^='col-'] {
    display: inline-table;
    // padding: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.pad5 {
    padding: 5px;
}

.card {
    box-shadow: 1px 1px 6px grey;
    text-align: center;
}

.card:hover{
    box-shadow: 1px 1px 6px blue;;
}

.card-box {
    min-height: 125px;
    margin:10px;
}

.card-max{
    min-height: 200px;
    margin:10px;
}

.center {
    height: auto;
    margin: 0 auto;
}

.grow {
    transition: all .2s ease-in-out;
    background-color: white;
}

.grow:hover {
    transform: scale(1.25);
}


